:root {
	--hidden-color: rgb(0, 255, 191);
}

.hidden-note {
	cursor: pointer;
}

.toggle-hidden,
.toggle-hidden .MathJax {
	color: transparent;
	background-color: var(--hidden-color);
	border-radius: 4px;
}
